{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<section class="vh-70" style="background-color: #f4f5f7;">
  <div class="container py-5 h-70">
    <div class="row d-flex justify-content-center align-items-center h-70">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Log in</h3>

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Your username and password didn't match. Please try again.
                </div>
            {% endif %}

            <form action="{% url 'users:login' %}" method="post">
              {% csrf_token %}
              
              <!-- Bootstrap Form -->
              {% bootstrap_form form %}

              <!-- Login Button -->
              <button class="btn btn-primary btn-block w-100" type="submit">Log in</button>

              <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
            </form>

            <hr class="my-4">
            
            <!-- Register prompt -->
            <p>Don't have an account? <a href="{% url 'users:register' %}">Register here</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
